:root {
  --color-budgetCurrentMonth: #24273a;
  --color-budgetHeaderCurrentMonth: #1e2030;
  --color-budgetHeaderOtherMonth: #181926;
  --color-budgetNumberNegative: #ed8796;
  --color-budgetNumberNeutral: #cad3f5;
  --color-budgetNumberPositive: #a6da95;
  --color-budgetNumberZero: #cad3f5;
  --color-budgetOtherMonth: #1e2030;
  --color-buttonBareBackground: transparent;
  --color-buttonBareBackgroundActive: rgba(202, 211, 245, 0.20);
  --color-buttonBareBackgroundHover: rgba(202, 211, 245, 0.10);
  --color-buttonBareDisabledBackground: transparent;
  --color-buttonBareDisabledText: #6e738d;
  --color-buttonBareText: #cad3f5;
  --color-buttonBareTextHover: #cad3f5;
  --color-buttonMenuBackground: transparent;
  --color-buttonMenuBackgroundHover: rgba(202, 211, 245, 0.10);
  --color-buttonMenuBorder: #363a4f;
  --color-buttonMenuSelectedBackground: #f5a97f;
  --color-buttonMenuSelectedBackgroundHover: #eed49f;
  --color-buttonMenuSelectedBorder: #f5a97f;
  --color-buttonMenuSelectedText: #24273a;
  --color-buttonMenuSelectedTextHover: #24273a;
  --color-buttonMenuText: #cad3f5;
  --color-buttonMenuTextHover: #cad3f5;
  --color-buttonNormalBackground: #24273a;
  --color-buttonNormalBackgroundHover: #363a4f;
  --color-buttonNormalBorder: #363a4f;
  --color-buttonNormalDisabledBackground: #24273a;
  --color-buttonNormalDisabledBorder: #363a4f;
  --color-buttonNormalDisabledText: #6e738d;
  --color-buttonNormalSelectedBackground: #f5a97f;
  --color-buttonNormalSelectedText: #24273a;
  --color-buttonNormalShadow: rgba(24, 25, 38, 0.30);
  --color-buttonNormalText: #cad3f5;
  --color-buttonNormalTextHover: #cad3f5;
  --color-buttonPrimaryBackground: #f5a97f;
  --color-buttonPrimaryBackgroundHover: #b7bdf8;
  --color-buttonPrimaryBorder: #f5a97f;
  --color-buttonPrimaryDisabledBackground: #363a4f;
  --color-buttonPrimaryDisabledBorder: #363a4f;
  --color-buttonPrimaryDisabledText: #6e738d;
  --color-buttonPrimaryShadow: rgba(24, 25, 38, 0.40);
  --color-buttonPrimaryText: #24273a;
  --color-buttonPrimaryTextHover: #24273a;
  --color-calendarBackground: #1e2030;
  --color-calendarCellBackground: #24273a;
  --color-calendarItemBackground: #363a4f;
  --color-calendarItemText: #cad3f5;
  --color-calendarSelectedBackground: #f5a97f;
  --color-calendarText: #cad3f5;
  --color-cardBackground: #1e2030;
  --color-cardBorder: #f5a97f;
  --color-cardShadow: #24273a;
  --color-chartQual1: #a6da95;
  --color-chartQual2: #eed49f;
  --color-chartQual3: #f5a97f;
  --color-chartQual4: #ed8796;
  --color-chartQual5: #8aadf4;
  --color-chartQual6: #f0c6c6;
  --color-chartQual7: #8bd5ca;
  --color-chartQual8: #f4dbd6;
  --color-chartQual9: #ee99a0;
  --color-checkboxBackgroundSelected: #f5a97f;
  --color-checkboxBorderSelected: #f5a97f;
  --color-checkboxShadowSelected: #b7bdf8;
  --color-checkboxText: #24273a;
  --color-checkboxToggleBackground: #494d64;
  --color-checkboxToggleBackgroundSelected: #f5a97f;
  --color-checkboxToggleDisabled: #363a4f;
  --color-errorBackground: rgba(237, 135, 150, 0.15);
  --color-errorBorder: #ed8796;
  --color-errorText: #ed8796;
  --color-errorTextDark: #ed8796;
  --color-errorTextDarker: #ed8796;
  --color-errorTextMenu: #ed8796;
  --color-floatingActionBarBackground: #1e2030;
  --color-floatingActionBarBorder: #f5a97f;
  --color-floatingActionBarText: #cad3f5;
  --color-formInputBackground: #24273a;
  --color-formInputBackgroundSelected: #363a4f;
  --color-formInputBackgroundSelection: #f5a97f;
  --color-formInputBorder: #363a4f;
  --color-formInputBorderSelected: #f5a97f;
  --color-formInputShadowSelected: #f5a97f;
  --color-formInputText: #cad3f5;
  --color-formInputTextHighlight: #8aadf4;
  --color-formInputTextPlaceholder: #6e738d;
  --color-formInputTextPlaceholderSelected: #a5adcb;
  --color-formInputTextReadOnlySelection: #363a4f;
  --color-formInputTextSelected: #24273a;
  --color-formInputTextSelection: #363a4f;
  --color-formLabelBackground: #1e2030;
  --color-formLabelText: #a5adcb;
  --color-markdownDark: #363a4f;
  --color-markdownLight: #5b6078;
  --color-markdownNormal: #494d64;
  --color-menuAutoCompleteBackground: #24273a;
  --color-menuAutoCompleteBackgroundHover: #363a4f;
  --color-menuAutoCompleteItemText: #cad3f5;
  --color-menuAutoCompleteText: #cad3f5;
  --color-menuAutoCompleteTextHeader: #8aadf4;
  --color-menuBackground: #1e2030;
  --color-menuBorder: #363a4f;
  --color-menuBorderHover: #f5a97f;
  --color-menuItemBackground: #1e2030;
  --color-menuItemBackgroundHover: #363a4f;
  --color-menuItemText: #cad3f5;
  --color-menuItemTextHeader: #8aadf4;
  --color-menuItemTextHover: #cad3f5;
  --color-menuItemTextSelected: #f5a97f;
  --color-menuKeybindingText: #a5adcb;
  --color-mobileAccountShadow: #24273a;
  --color-mobileAccountText: #8aadf4;
  --color-mobileConfigServerViewTheme: #f5a97f;
  --color-mobileHeaderBackground: #24273a;
  --color-mobileHeaderText: #cad3f5;
  --color-mobileHeaderTextHover: rgba(202, 211, 245, 0.15);
  --color-mobileHeaderTextSubdued: #a5adcb;
  --color-mobileNavBackground: #1e2030;
  --color-mobileNavItem: #cad3f5;
  --color-mobileNavItemSelected: #f5a97f;
  --color-mobilePageBackground: #24273a;
  --color-mobileTransactionSelected: #f5a97f;
  --color-mobileViewTheme: #24273a;
  --color-modalBackground: #1e2030;
  --color-modalBorder: #363a4f;
  --color-noteTagBackground: rgba(245, 169, 127, 0.20);
  --color-noteTagBackgroundHover: rgba(245, 169, 127, 0.30);
  --color-noteTagDefault: #f5a97f;
  --color-noteTagText: #f5a97f;
  --color-noticeBackground: rgba(166, 218, 149, 0.15);
  --color-noticeBackgroundDark: rgba(166, 218, 149, 0.20);
  --color-noticeBackgroundLight: rgba(166, 218, 149, 0.10);
  --color-noticeBorder: #a6da95;
  --color-noticeText: #a6da95;
  --color-noticeTextDark: #a6da95;
  --color-noticeTextLight: #a6da95;
  --color-noticeTextMenu: #a6da95;
  --color-numberNegative: #ed8796;
  --color-numberNeutral: #a5adcb;
  --color-numberPositive: #a6da95;
  --color-overlayBackground: rgba(24, 25, 38, 0.70);
  --color-pageBackground: #24273a;
  --color-pageBackgroundBottomRight: #1e2030;
  --color-pageBackgroundLineBottom: #363a4f;
  --color-pageBackgroundLineMid: #24273a;
  --color-pageBackgroundLineTop: #f5a97f;
  --color-pageBackgroundModalActive: #1e2030;
  --color-pageBackgroundTopLeft: #24273a;
  --color-pageText: #cad3f5;
  --color-pageTextDark: #cad3f5;
  --color-pageTextLight: #b8c0e0;
  --color-pageTextLink: #8aadf4;
  --color-pageTextLinkLight: #b7bdf8;
  --color-pageTextPositive: #f5a97f;
  --color-pageTextSubdued: #6e738d;
  --color-pillBackground: #1e2030;
  --color-pillBackgroundLight: #24273a;
  --color-pillBackgroundSelected: #f5a97f;
  --color-pillBorder: #363a4f;
  --color-pillBorderDark: #363a4f;
  --color-pillBorderSelected: #f5a97f;
  --color-pillText: #cad3f5;
  --color-pillTextHighlighted: #f5a97f;
  --color-pillTextSelected: #24273a;
  --color-pillTextSubdued: #6e738d;
  --color-reportsBlue: #8aadf4;
  --color-reportsChartFill: #a6da95;
  --color-reportsGray: #6e738d;
  --color-reportsGreen: #a6da95;
  --color-reportsInnerLabel: #24273a;
  --color-reportsLabel: #cad3f5;
  --color-reportsNumberNegative: #ed8796;
  --color-reportsNumberNeutral: #a5adcb;
  --color-reportsNumberPositive: #a6da95;
  --color-reportsRed: #ed8796;
  --color-sidebarBackground: #181926;
  --color-sidebarBudgetName: #a5adcb;
  --color-sidebarItemAccentSelected: #f5a97f;
  --color-sidebarItemBackgroundFailed: #ed8796;
  --color-sidebarItemBackgroundHover: #1e2030;
  --color-sidebarItemBackgroundPending: #f5a97f;
  --color-sidebarItemBackgroundPositive: #a6da95;
  --color-sidebarItemText: #cad3f5;
  --color-sidebarItemTextSelected: #f5a97f;
  --color-tableBackground: #181926;
  --color-tableBorder: #363a4f;
  --color-tableBorderHover: #b7bdf8;
  --color-tableBorderSelected: #f5a97f;
  --color-tableBorderSeparator: #363a4f;
  --color-tableHeaderBackground: #1e2030;
  --color-tableHeaderText: #a5adcb;
  --color-tableRowBackgroundHighlight: #363a4f;
  --color-tableRowBackgroundHighlightText: #cad3f5;
  --color-tableRowBackgroundHover: #363a4f;
  --color-tableRowHeaderBackground: #1e2030;
  --color-tableRowHeaderText: #cad3f5;
  --color-tableText: #cad3f5;
  --color-tableTextHover: #b8c0e0;
  --color-tableTextInactive: #6e738d;
  --color-tableTextLight: #cad3f5;
  --color-tableTextSelected: #cad3f5;
  --color-tableTextSubdued: #6e738d;
  --color-templateNumberFunded: #a6da95;
  --color-templateNumberUnderFunded: #eed49f;
  --color-toBudgetNegative: #ed8796;
  --color-toBudgetPositive: #a6da95;
  --color-toBudgetZero: #a6da95;
  --color-tooltipBackground: #363a4f;
  --color-tooltipBorder: #363a4f;
  --color-tooltipText: #cad3f5;
  --color-upcomingBackground: rgba(245, 169, 127, 0.15);
  --color-upcomingBorder: #363a4f;
  --color-upcomingText: #f5a97f;
  --color-warningBackground: rgba(245, 169, 127, 0.15);
  --color-warningBorder: #f5a97f;
  --color-warningText: #f5a97f;
  --color-warningTextDark: #f5a97f;
  --color-warningTextLight: #f5a97f;
}
